body {
    margin: 0;
    padding: 0;
    background: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
}


/* CONTENEDOR PRINCIPAL */

.container {

    max-width: 900px;
    margin: auto;
    padding: 40px;
    text-align: center;

}


/* LOGO */

.logo {

    width: 220px;
    margin-bottom: 20px;

}


/* TÍTULO */

h1 {

    color: #333;
    margin-bottom: 15px;

}


/* DESCRIPCIÓN INICIAL */

.descripcion {

    max-width: 650px;
    margin: auto;
    margin-bottom: 30px;
    line-height: 1.7;
    font-size: 17px;
    color: #555;

}


/* CAMPOS DEL FORMULARIO */

input,
select {

    width: 100%;
    max-width: 600px;
    padding: 14px;
    margin: 10px auto;
    display: block;

    border: 1px solid #cccccc;
    border-radius: 8px;

    font-size: 16px;
    box-sizing: border-box;

}


/* CHECKBOXES */

input[type="checkbox"] {

    width: auto;
    display: inline-block;
    margin-right: 10px;

}


/* TEXTOS LEGALES */

p {

    line-height: 1.6;

}


/* BOTONES */

button {

    background: #f47c20;
    color: white;
    border: none;

    padding: 14px 25px;

    border-radius: 8px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;

}


button:hover {

    background: #dd6d17;

}


button:disabled {

    background: grey;
    cursor: not-allowed;

}


/* VÍDEO */

video {

    width: 100%;
    max-width: 800px;

    border-radius: 10px;

    margin-top: 20px;

}


/* TEST */

#testSection {

    margin-top: 40px;
    text-align: left;

}


#testSection h2 {

    text-align: center;

}


#testSection p {

    font-weight: bold;
    margin-top: 25px;

}


/* RADIO BUTTONS */

input[type="radio"] {

    width: auto;
    display: inline-block;
    margin-right: 10px;

}


/* LABELS */

label {

    display: inline-block;
    line-height: 1.6;
    margin-top: 10px;

}


/* RESPONSIVE */

@media (max-width: 768px) {

    .container {

        padding: 20px;

    }


    .logo {

        width: 180px;

    }


    .descripcion {

        font-size: 15px;

    }


    button {

        width: 100%;

    }
} 
/*-------------------------------------------------
FIRMA DIGITAL
-------------------------------------------------*/

#firmaSection{

    margin-top:40px;
    text-align:center;

}

 #signature-pad{

    width:100%;
    max-width:500px;

    background:#e5e5e5;
    border:2px dashed #888;
    border-radius:10px;

    display:block;
    margin:20px auto;

    touch-action:none;

}
