body{
    margin:0;
    padding:0;
    background:#f4f6f8;
    font-family:Arial,Helvetica,sans-serif;
}

.container{
    max-width:900px;
    margin:auto;
    padding:40px;
    text-align:center;
}

.logo{
    width:220px;
    margin-bottom:20px;
}

h1{
    color:#333;
    margin-bottom:15px;
}

.descripcion{
    max-width:650px;
    margin:auto;
    margin-bottom:30px;
    line-height:1.7;
    font-size:17px;
    color:#555;
}

input,
select{
    width:100%;
    max-width:600px;
    padding:14px;
    margin:10px auto;
    display:block;

    border:1px solid #ccc;
    border-radius:8px;

    font-size:16px;
    box-sizing:border-box;
}

input[type="checkbox"]{
    width:auto;
    display:inline-block;
    margin-right:10px;
}

input[type="radio"]{
    width:auto;
    display:inline-block;
    margin-right:10px;
}

label{
    display:inline-block;
    line-height:1.6;
    margin-top:10px;
}

button{

    background:#f47c20;
    color:white;
    border:none;

    padding:14px 30px;

    border-radius:8px;

    font-size:16px;

    cursor:pointer;

    transition:.25s;

}

button:hover{

    background:#d96a14;

}

button:disabled{

    background:#999;
    cursor:not-allowed;

}

video{

    width:100%;
    max-width:800px;

    border-radius:12px;

    margin-top:20px;

}

#testSection{

    text-align:left;
    margin-top:40px;

}

#testSection h2{

    text-align:center;

}

#testSection p{

    font-weight:bold;
    margin-top:28px;

}

/************************************************/
/* FIRMA */
/************************************************/

#firmaSection{

    margin-top:50px;

}

#signature-pad{

    width:100%;
    max-width:800px;
    height:250px;

    display:block;
    margin:auto;

    background:#ececec;

    border:3px solid #888;

    border-radius:12px;

    touch-action:none;

    cursor:crosshair;

    box-sizing:border-box;

}

/************************************************/
/* PANTALLA FINAL */
/************************************************/

#pantallaFinal{

    display:none;

    height:100vh;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    text-align:center;

}

#pantallaFinal h1{

    font-size:64px;

    color:#f47c20;

}

#pantallaFinal p{

    font-size:20px;

}

@media(max-width:768px){

.container{

padding:20px;

}

.logo{

width:180px;

}

.descripcion{

font-size:15px;

}

button{

width:100%;

}

#signature-pad{

height:220px;

}

}
